---
---

@import "{{ site.theme }}";

// add your style below
// Code tab styling.
.code-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    button:hover {
        background-color: #ddd;
    }

    button.active {
        background-color: #ccc;
    }
}

html[mode="dark"] .code-tab {
  background-color: #303030;

  button {
    color: #fff;
  }

  button:hover {
      background-color: #242424;
  }

  button.active {
      background-color: #1c1c1c;
  }
}

.code-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

code {
  font-family: 'Fira Code', monospace;
  pre {
    font-family: 'Fira Code', monospace;
  }
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', monospace;
    pre {
      font-family: 'Fira Code VF', monospace;
    }
  }
}

.unlock {
  .show {
    display: none;
  }
  .button_unlock {
    display: block;
    font-size: larger;
    border-radius: 15px;
    border-width: 0;
    padding: 3px 10px;
  }
  .hint {
    background: #ffc107b0;
  }
  .solution {
    background: #1ab21ab0;
  }
}

.button_unlock {
  display: none;
}

.code_fold {
  button {
    padding: 0;
    background: 0;
    border: 0;
    color: #28a745;
    font-size: 1em;
  }
  button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  button:focus {
    outline: 0px;
  }
}

.code_fold_closed{
  button::before {
    content: "\f0fe";
  }
}

.code_fold_opened{
  button::before {
    content: "\f146";
  }
}

.code_fold_closed {
  .code_fold_span {
    display: none;
  }
}

.highlight_backline_green {
  background-color: #19fa192c;
}

.highlight_backline_yellow {
  background-color: #e3fa192c;
}

.highlight_backline_blue {
  background-color: #325ef02c;
}

td.rouge-gutter {
  vertical-align: top;
  padding-top: 1.5rem;
}

td.rouge-code {
  vertical-align: top;
}
